<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="appstacks.vpn.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <meta-data
            android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <activity
            android:name="de.blinkt.openvpn.activities.DisconnectVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />

        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.api.ExternalOpenVPNService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNStatusService"
            android:exported="false" />

        <activity android:name="de.blinkt.openvpn.api.GrantPermissionsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="de.blinkt.openvpn.api.ConfirmDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name="de.blinkt.openvpn.OnBootReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:label="@string/ovpn_vpn_launch_title"
            android:taskAffinity=".LaunchVPN"
            android:theme="@style/blinkt.dialog"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="de.blinkt.openvpn.FileProvider"
            android:authorities="de.blinkt.openvpn.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

        <activity android:name="de.blinkt.openvpn.api.RemoteAction" />

        <activity-alias
            android:name=".ConnectVPN"
            android:exported="true"
            android:targetActivity="de.blinkt.openvpn.api.RemoteAction" />
        <activity-alias
            android:name=".DisconnectVPN"
            android:exported="true"
            android:targetActivity="de.blinkt.openvpn.api.RemoteAction" />

    </application>
</manifest>
